
/*======================== HOJA DE ESTILO =========================*/

/* --------------- VARIABLES PARA DEFINIR LOS COLORES ---------------- */

:root {
  --texto-claro: #fff;
  --texto-oscuro: #1D1814;
  --fondo-libro1: #d6a2c9;
  --fondo-libro2: #69c3de;
  --fondo-libro3: #ea70a1;
  --fondo-libro4: #ee7f85;
  --fondo-libro5: #fac158;
  --fondo-libro6: #e41b23;
  --fondo-libro7: #08898e;
  --fondo-libro8: #58b983;
}

/* ------------------- REGLAS GENERALES ------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width:none;  
}
::-webkit-scrollbar{ 
    display: none;  
}

body{
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
  color: var(--texto-oscuro);
}

nav{
  position:fixed;
  z-index: 1;
  background:#fff;
  border-bottom:2px solid #ccc;
}

nav ul{
  position: relative;
  margin:0;
  padding-left: 10%;
}

nav li{  
  list-style:none; 
  float:left;
  height:100%;
}

nav a{
  text-decoration:none;
  font-weight: 400;
  color: var(--texto-oscuro);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
}

nav a:hover{
  background-size: 100% 2px;
}

.libreria{
  position: absolute;
  display: flex;
  background-color: white;
  width: 100%;
}

.lomo{
  display: flex;
  position: relative;
  transition-duration: 1200ms;
  background-repeat: no-repeat;
}

.lomo:nth-child(1){
  border:none;
}
.lomo:nth-child(2){
  background-color: var(--fondo-libro1);
  background-image:url("../img/lomo-01.gif");  
}
.lomo:nth-child(3){
  background-color: var(--fondo-libro2);
  background-image:url("../img/lomo-02.gif");
}
.lomo:nth-child(4){
  background-color: var(--fondo-libro3);
  background-image:url("../img/lomo-03.gif");
}
.lomo:nth-child(5){
  background-color: var(--fondo-libro4);
  background-image:url("../img/lomo-04.gif");
}
.lomo:nth-child(6){
  background-color: var(--fondo-libro5);
  background-image:url("../img/lomo-05.gif");
}
.lomo:nth-child(7){
  background-color: var(--fondo-libro6);
  background-image:url("../img/lomo-06.gif");
  color: var(--texto-claro);
}
.lomo:nth-child(8){
  background-color: var(--fondo-libro7);
  background-image:url("../img/lomo-07.gif");
  color: var(--texto-claro);
}
.lomo:nth-child(9){
  background-color: var(--fondo-libro8);
  background-image:url("../img/lomo-08.gif");  
}

.lomo h1,.lomo h2, .lomo h3{
  font-family: 'Bodoni Moda', serif;
  font-weight: normal;
  font-style: italic;
}

.lomo h3{
  position: absolute;
}

.lomo h3 a{
  text-decoration: none;
  color: var(--texto-claro);
}

.lomo a{
  text-decoration: none;
}

.libro{
  display: none;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  line-height: 1.5em;
  letter-spacing: 0.025em;
  font-weight: 300;
}

.seccion{
  display: none;
  width: 100%;
  height: 100%;
}

#titulo{
  margin-bottom: 4%;
  line-height: 1.1em;
}

#nombreAutora{
  font-size: 2em;
  margin:10% auto 0;
}

#imagenAutora img{
  display: block;
  width: 50%;
  margin: 4% auto;
}

#uno{
  background-color: var(--fondo-libro1);
}
#dos{
  background-color: var(--fondo-libro2);
}
#tres{
  background-color: var(--fondo-libro3);
}
#cuatro{
  background-color: var(--fondo-libro4);
}
#cinco{
  background-color: var(--fondo-libro5);
}
#seis{
  background-color: var(--fondo-libro6);
}
#siete{
  background-color: var(--fondo-libro7);
}
#ocho{
  background-color: var(--fondo-libro8);
}

.portada img{
  display:block;
}

.separador{
  display: block;
  width: 50%;
  margin: 3vh auto;
}

.libro .intro{
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  font-weight: 400;
}

.libro .argumento{
  font-style: italic;
  text-align: justify;
  text-align-last: center;
}

@supports ((-webkit-hyphens:auto) or (hyphens:auto)) {
  .libro .argumento{
    hyphens: auto;/*para que al justicar el texto automáticamente rompa las palabras con un guión y no queden espacios tan grandes entre las palabras. Es necesario especificar en la etiqueta html de la página el idioma en el que está escrita la misma mediante el atributo lang. Útil sobre todo para pantallas estrechas donde el texto justificado deja espacios que hacen la lectura poco agradable*/
    -webkit-hyphens: auto; /* A día de hoy aún es necesario el prefijo para soportar a Safari */
  }
}

.fin{
  display: block;
  width: 60%;
  margin: auto;
  padding-bottom: 3vh;
}

.activa.seccion{
  display: flex; 
}

.desplegado h3{
  display: none;
}

.desplegado .libro{
  display: flex;
  overflow-y: auto;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1200ms;
}


/* MEDIA QUERIES PARA EL DISEÑO HORIZONTAL */

@media screen and (orientation:landscape){
  
  nav{
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
    width:100vh;    
    height:5vw;
  }

  nav li{
    margin-right:30px;
  }

  nav a{
    line-height: 5vw;
  }

  .libreria{
    height: 100vh;
    max-width: 100%;
  }

  .lomo{
    height: 100vh;
    width: 5vw;
    border-top:4px solid #fff;
    border-bottom:4px solid #fff;
    border-right:2px solid #fff;
    border-left:2px solid #fff;
    transition-property: width;
    background-position: bottom;
    background-size:45vh;
  }
  
  .lomo:nth-child(2){ 
    border-left:4px solid #fff;
  }
  
  .lomo:nth-child(9){ 
    border-right:4px solid #fff;
  }

  .lomo h3{
    display: none;
    white-space: nowrap;
    font-size: 2em;
    transform: rotate(-90deg);
    bottom: 30vh;
  }

  .libro{
    max-height: 100%;
    padding: 0 10%;
  }

  #inicio .libro{
    margin-left: 5vw;
  }

  #titulo{
    padding-top: 6vh;
  }

  .portada{
    display: block;
    width: auto;
  }

  .portada img{
    height: 100vh;
  }

  .desplegado{
    width: 60vw;
  }

  .lomo.collapsed{
    background-position: bottom;
    background-size:27vh;
  }

  .collapsed h3{
    display: inline-block;
    width: 4.5vw;
  }


  /* A continuación se adaptan los tamaños de letra de los enlaces del menú, el texto dentro de las secciones y los diferentes títulos y el grosor de los bordes para los tamaños de pantalla de los diferentes dispositivos en horizontal (de mayor a menor tamaño) */

  @media screen and (min-width: 1920px){/* Para dispositivos con pantallas muy grandes de 1920px para adelante de ancho (tv de alta resolución) */
    nav a{
      font-size: 2em;
    }
    .libro{
      font-size: 1.5em;
    }
    .lomo h3{
      font-size: 3em;
    }
    #titulo{
      font-size: 7.5em;
    }
  }
  @media screen and (max-width: 1919px){/* Dispositivos con pantallas grandes de menos de 1920px de ancho (monitores full hd) */
    nav a{
      font-size: 1.5em;
    }
    .libro{
      font-size: 1.2em;
    }
    .lomo h3{
      font-size: 2em;
    }
    #titulo{
      font-size: 7em;
    }  
  }
  @media screen and (max-width: 1440px){/* Con pantallas grandes de hasta 1440px de ancho (portátiles de alta resolución) */
    nav a{
      font-size: 1.25em;
    }
    .libro{
      font-size: 1.1em;
    }
    .lomo h3{
      font-size: 1.8em;
    }
    #titulo{
      font-size: 6em;
    }
  }
  @media screen and (max-width: 1280px){/* Con pantallas grandes de hasta 1280px de ancho (portátiles medianos y tablets/iPads(girados)) */
    nav a{
      font-size: 1.125em;
    }
    .libro{
      font-size: 1em;
    }
    .lomo{
      border-top:2px solid #fff;
      border-bottom:2px solid #fff;
      border-right:1px solid #fff;
      border-left:1px solid #fff;
    }
    .lomo:nth-child(2){
      border-left:2px solid #fff;
    }
    .lomo:nth-child(9){
      border-right:2px solid #fff;
    }
    .lomo h3{
      font-size: 1.5em;
    }
    #titulo{
      font-size: 5.5em;
    } 
  }
  @media screen and (max-width: 900px){/* Dispositivos medianos de hasta 900px de ancho al girarlos (tablets pequeñas y móviles grandes) */
    .libro{
      font-size: 0.9em;
    }
    .lomo h3{
      font-size: 1.3em;
    }
    #titulo{
      font-size: 5em;
    }
  }
  @media screen and (max-width: 680px){/* Dispositivos móviles medianos de hasta 680px de ancho al girarlos */
    .libro{
      font-size: 0.8em;
    }
    .lomo h3{
      font-size: 1.25em;
    }
  }
  @media screen and (max-width: 640px){/* Dispositivos móviles pequeños de hasta 640px de ancho al girarlos (ej: iPhone 5, Samsung Galaxu S5 y LG Optimus L70) */
    nav a{
      font-size: 1em;
    }
    .lomo h3{
      font-size: 1.125em;
    }
  }
  @media screen and (max-width: 501px){/* Dispositivos móviles pequeños de hasta 501px de ancho al girarlos (iPhone 4) */
    .lomo h3{
      font-size: 1em;
    }
    #titulo{
      font-size: 4em;
    }
  }
  @media screen and (max-height: 375px){/* Dispositivos móviles pequeños de hasta 375px de alto girados (iPhone 6/7/8, Samsung Glaxy Note 3 y Blackberry Z30) */
    nav a{
      font-size: 1em;
    }
    .lomo h3{
      font-size: 1em;
    }
    #titulo{
      font-size: 4em;
    }
  }
  @media screen and (max-height: 320px){/* Para iPhones 4 y 5, Samsung Glaxy Fold y Nokia Lumnia 520 girados */
    nav li{
      margin-right: 20px;
    }
    nav a{
      font-size: 0.8em;
    }
    .lomo h3{
      font-size: 0.9em;
    }
    #titulo{
      font-size: 3em;
    }
  }
}


/* MEDIA QUERIES PARA EL DISEÑO VERTICAL */

@media screen and (orientation:portrait){
  
  nav{
    top: 0;
    width:100%;
    height:11vh;
  }

  nav li{
    margin-right:7%;
  }

  nav a{
    font-size: 0.8em;
    line-height: 11vh;
  }

  .libreria{
    flex-direction: column;
  }

  .lomo{
    height: 11.111vh;
    width: 100%;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    border-right:2px solid #fff;
    border-left:2px solid #fff;
    transition-property: height;
    background-position-y: 15%;
    background-position-x: -8%;
    background-size: 40%;
  }
  
  .lomo:nth-child(2){ 
    border-top:4px solid #fff;
  }
  
  .lomo:nth-child(4){
    background-position-x: -9%;
  }
  
  .lomo:nth-child(5){
    background-position-x: 0%;
  }
  
  .lomo:nth-child(9){ 
    border-bottom:4px solid #fff;
    background-position-x: -15%;
  }
  
  .lomo h3{
    line-height: 1em;
  }

  #titulo{
    font-size: 2.5em;
  }

  #nombreAutora{
    margin: 0 auto 2%;
  }

  .portada{
    display:flex;
    align-items: flex-start;
    padding: 0 5%;
  }

  .portada img{
    width: 99%;
    height: auto;
  }

  .texto{
    margin:0 10%;
  }

  .desplegado{
    height: auto;
  }

  #inicio.desplegado {
    padding: 90px 10% 30px 10%;
  }


/* A continuación se adaptan para los tamaños de pantalla (de menor a mayor) de los diferentes dispositivos en vertical (móviles y tablets): las posiciones, espacios y tamaños de letra de los títulos de los lomos, de los títulos de la página principal y de la autora, de los enlaces del menú y del texto dentro de las secciones,. */

  @media screen and (max-width: 240px){/*para el tamaño de pantalla móvil más pequeño que hay en el inspeccionador, el del JioPhone 2 o el Nokia 8110 4G*/
    nav li{
      margin-right: 4%;
    }
    .lomo h3{
      font-size: 0.8em;
      line-height: 0.8em;
      top:29%;
      margin-left:27vw;
    }
    .libro{
      font-size: 0.8em;
    }
    #inicio.desplegado {
      padding-top: 13vh;
    }
    #nombreAutora{
      margin-top: 5%;
    }
  }
  @media screen and (min-width: 241px){/*para el formato de móvil especial Galaxy Fold de Samsung*/
    .lomo h3{
      font-size: 1em;
      top:32%;
      margin-left:30vw;
      margin-right:3vw;
    }
    .lomo:nth-child(5), .lomo:nth-child(7){
      top: 22%;
    }
  @media screen and (min-width: 301px){/*para smartphones pequeños como iPhone 4/5*/
    nav a{
      font-size: 1em;
    }
    .lomo:nth-child(5), .lomo:nth-child(7){
      top: 32%;
    }
    .libro{
      font-size:0.9em;
    }
    #titulo{
      font-size: 3em;
    }
  }
  @media screen and (min-width: 360px){/*para smartphones medianos como Samsung S5/S9*/
    .lomo h3{
      font-size: 1.15em;
      margin-left:-5vw;
    }
    .libro{
      font-size: 1em;
    }
    #titulo{
      font-size: 3.5em;
    }
  }
  @media screen and (min-width: 372px){/*para móviles más grandes como iPhone 6/7/8/X y LG Optimus L70*/
    #titulo{
      font-size: 3.75em;
    }
  }  
  @media screen and (min-width: 390px){/*para móviles más grandes como iPhone XR/XS y Pixel 2/2XL*/
    .lomo h3{
      font-size: 1.25em;
    }
    #titulo{
      font-size: 4em;
    }
  }
  @media screen and (min-width: 458px){/*para tablets pequeñas*/
    nav a{
      font-size: 1.125em;
    }
    #titulo{
      font-size: 5em;
    }
  }
  @media screen and (min-width: 560px){/*para tablets pequeñas como Nexus 7*/
    .lomo h3{
      font-size: 1.5em;
    }
    #inicio.desplegado {
      padding-top:100px;
    }
  }
  @media screen and (min-width: 680px){/*para tablets medianas como Kindle Fire HDX*/
    nav a{
      font-size: 1.25em;
    }
    .lomo h3{
      font-size: 1.75em;
    }
    #titulo{
      font-size: 6em;
    }
  }
  @media screen and (min-height: 639px){/*para dispositivos móviles alargados*/
    nav{   
      height:63px;
    }
    nav a{
      font-size: 1em;
      line-height: 63px;
    }
    .lomo{/*se aumenta el el grosor de los bordes para pantallas más grandes*/
      border-top:2px solid #fff;
      border-bottom:2px solid #fff;
      border-right:4px solid #fff;
      border-left:4px solid #fff;
    }
    .lomo h3{
      margin-left: 30vw;
    }
    .lomo:nth-child(5), .lomo:nth-child(7){
      top: 22%;
    }
  } 
  @media screen and (min-height: 668px){/*para dispositivos móviles alargados como Nexus 5X/6P*/
    nav a{
      font-size: 1.125em;
    }
    #nombreAutora{
      margin-top: 5%;
    }
  }
  @media screen and (min-height: 961px){/*para iPad y tablets como Blackberry PlayBook*/
    #nombreAutora{
      margin-top: 0%;
    }
    .lomo h3{
      top:25%;
  }
  @media screen and (min-width: 768px){/*para tablets y iPad*/
    nav{
      height: 7vh;
    }
    nav a{
      font-size: 1.5em;
      line-height: 7vh;
    }
    .lomo h3{
      font-size: 2em;
      line-height: 2em;
    }
    .libro{
      font-size: 1.25em;
    }
    #inicio.desplegado {
      padding-top:120px;
      padding-bottom: 45px;
    }
  }
  @media screen and (min-width: 800px){/*para Nexus 10 y Kindle Fire HDX*/
    #nombreAutora{
      margin-top: 5%;
    }
  }
  @media screen and (min-width: 1024px){/*para iPad pro*/
    nav a{
      font-size: 1.5em;
    }
    .lomo h3{
      font-size: 2.125em;
    }
    .libro{
      font-size: 1.5em;
    }
  } 
  @media screen and (min-height: 1024px){/*para iPad*/
    #inicio.desplegado {
      padding-top:140px;
    }
    .portada{
      padding: 0 7%;
    }
  }
  @media screen and (min-height: 1366px){/*para iPad pro*/
    nav a{
      font-size: 2em;
    }
    .lomo h3{
      font-size: 2.5em;
    }
    .libro{
      font-size: 1.7em;
    }
    #inicio.desplegado {
      padding-top:180px;
    }
    .portada{
      padding: 0 6%;
    }
  }
}
